@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Estilos básicos para el navbar */
nav {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 105px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .social-icons img {
    width: 24px; /* Ajusta el tamaño de los iconos según sea necesario */
    height: auto;
    margin-left: 10px;
  }
  .Lupa {
    width: 2px; /* Define el ancho del icono */
    height: 2px; /* Define la altura del icono */
  }
  .Lupa {
    transform: scale(0.5); /* Reducir a la mitad el tamaño del icono */
  }
  .texto-con-imagen {
    background-image: url(/Imagenes/bg-food.jpeg); /* Ruta de la imagen */
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    color: #737491; /* Color del texto */
    padding: 210px; /* Espacio alrededor del texto */
    font-size: 45px; /* Tamaño del texto */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  /* Estilos para el botón */
.boton {
    background-color: #766df4; /* Color de fondo morado */
    color: rgb(255, 255, 255); /* Color del texto */
    padding: 12px 23px; /* Espacio alrededor del texto */
    font-size: 18px; /* Tamaño del texto */
    border-radius: 17px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de tipo mano */
    width: 105px; /* Ancho del botón */
    height: 25px; /* Alto del botón */
    margin-top: 25px;
  }
  .social-icons {
    margin-right: 100px;
  }
 /* Estilos para el título */
.titulo {
    color: #766df4; /* Color morado para los títulos */
    margin-right: 25px;
    text-decoration: none;
    font-size: 20px; /* Tamaño del texto */
    font-family: "Roboto", sans-serif;
  }
.Tem {
    color: #fff;
    margin-right: 25px;
    text-decoration: none;
    font-size: 20px; /* Tamaño del texto */
    font-family: "Roboto", sans-serif;
}
.Account {
    color: #fff;
    margin-right: 25px;
    text-decoration: none;
    font-size: 20px; /* Tamaño del texto */
    font-family: "Roboto", sans-serif;
}
.Pages {
    color: #fff;
    margin-right: 25px;
    text-decoration: none;
    font-size: 20px; /* Tamaño del texto */
    font-family: "Roboto", sans-serif;
}
.Doc {
    color: #fff;
    margin-right: 25px;
    text-decoration: none;
    font-size: 20px; /* Tamaño del texto */
    font-family: "Roboto", sans-serif;
}
.titulo:hover {
    text-decoration: underline;
}
.Tem:hover {
    text-decoration: underline;
}
.Account:hover {
    text-decoration: underline;
}
.Pages:hover {
    text-decoration: underline;
}
.Doc:hover {
    text-decoration: underline;
}

.body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.card-container {
  display: flex;
  gap: 40px;
  justify-content: center
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 500px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card p {
  margin-left: 25px;
  font-size: 20px;
  color: #000000;
  text-align: left;
}
.min p {
  color: #737491;
  margin-bottom: 33px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.texto {
  font-family: "Roboto", sans-serif;
  margin-right: 25px;
  text-decoration: none;
  font-size: 45px; /* Tamaño del texto */
  text-align: center;
  margin-top: 100px;
  color: #737491;
  margin-bottom: 100px;
}

.Flechas {
  color: rgb(0, 0, 0); /* Color del texto */
  padding: 12px 23px; /* Espacio alrededor del texto */
  font-size: 18px; /* Tamaño del texto */
  border-radius: 17px; /* Bordes redondeados */
  width: 40px; /* Ancho del botón */
  height: 25px; /* Alto del botón */
  margin-top: 25px
}
.button-container {
  display: flex;
  border: #ddd;
  justify-content: flex-end
}

.arrow-btn {
  background-color: #e2e2e2;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding: 9px 7px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-right: 150px;
}

.arrow-btn .arrow {
  font-size: 20px;
}

.arrow-btn.left .arrow {
  margin-right: 8px;
}

.arrow-btn.right .arrow {
  margin-left: 8px;
}

.arrow-btn:hover {
  background-color: #0056b3;
}

